{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block title %}
    Disponibilités
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Websites availability</h1>

        <div class="row">
            <h3>Add a website</h3>
            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        <p>{{ msg }}</p>
                    {% endfor %}
                </div>
            {% endif %}

            {{ form_start(formWebsite, {'attr': {'class': 'form-inline'}}) }}
                {{ form_errors(formWebsite) }}
                <div class="col-md-5">
                    {{ form_label(formWebsite.domain) }}
                    <div class="col-md-9">
                        {{ form_widget(formWebsite.domain) }}
                    </div>
                </div>
                <div class="col-md-5">
                    {{ form_label(formWebsite.reference) }}
                    <div class="col-md-9">
                        {{ form_widget(formWebsite.reference) }}
                    </div>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Save new domain</button>
                </div>
                {{ form_rest(formWebsite) }}
            {{ form_end(formWebsite) }}
        </div>

        <hr>

        <div class="row">
            {% for key, state in states %}
                <div class="col-md-4">
                    <div class="panel panel-{% if state.state == true %}success{% else %}danger{% endif %} iframes" id="{{ key }}">
                        <div class="panel-heading">{{ state.domain }}</div>
                        <div class="panel-body" style="height:400px;">
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if states|default %}
            <div class="row text-center">
                <button class="btn btn-primary" id="refresh">Refresh</button>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script type="text/javascript">
        var jxhr;
        $(document).ready(function() {
            loadIframes();
            setInterval(function() {
                $('body .container .row').first().prepend('<div class="alert alert-info">Chargement en cours...</div>');
                loadIframes();
                $('.alert').remove();
            }, 360000);
        }).on('click', '#refresh', function() {
            if (jxhr && typeof jxhr.cancel == 'function') jxhr.cancel();
            jxhr = $.ajax({
                url: "/",
                cache: false,
                beforeSend: function(xhr) {
                    $('.alert').remove();
                    $('body .container .row').first().prepend('<div class="alert alert-info">Chargement en cours...</div>');
                }
            }).done(function(data) {
                var on = true;
                for (var i = 0; i < data.length; i++) {
                    if (data[i].state == false) {
                        changeFavicon("{{ asset('images/red.png') }}");
                        on = false;
                    }
                }
                if (on) {
                    changeFavicon("{{ asset('images/green.png') }}");
                }
                loadIframes();
                $('.alert').remove();
            });
        });

        function loadIframes() {
            $('.iframes').each(function(index) {
                var domain = $(this).find('.panel-heading').html();
                $(this).find('.panel-body').html('<iframe src="' + domain + '" style="height:100%;"></iframe>')
            });
        }

        function changeFavicon(img) {
            var link = document.querySelector("link[rel*='icon']") || document.createElement('link');
            link.type = 'image/x-icon';
            link.rel = 'shortcut icon';
            link.href = img;
            document.getElementsByTagName('head')[0].appendChild(link);
        };
    </script>
{% endblock %}